/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_reset.scss */
body {
  line-height: 1;
}

/* line 34, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 40, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 50, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_reset.scss */
* {
  list-style: none;
  box-sizing: border-box;
}

/* line 55, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_reset.scss */
.cf:before,
.cf:after {
  content: " ";
  display: table;
}

/* line 60, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_reset.scss */
.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/* line 67, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_reset.scss */
.cf {
  *zoom: 1;
}

/* line 11, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_config.scss */
section:nth-child(n + 2) {
  padding-top: 4.375em;
  padding-bottom: 4.375em;
}

/* line 15, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_config.scss */
body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

/* line 19, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_config.scss */
p {
  font-size: .875rem;
  line-height: 1.5;
  font-weight: 300;
}

/* line 24, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_config.scss */
h1 {
  font-size: 1.999rem;
}

/* line 27, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_config.scss */
h2, h3 {
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

/* line 32, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_config.scss */
h2 {
  font-size: 1.414rem;
  font-family: "Playfair Display", serif;
}

/* line 37, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_config.scss */
h3 {
  font-family: "Roboto", sans-serif;
}

/* line 40, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_config.scss */
.wrapper {
  max-width: 60em;
  margin: auto;
}

@media (max-width: 980px) {
  /* line 40, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_config.scss */
  .wrapper {
    padding: 0 1em;
  }
}

/* line 47, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_config.scss */
.btn {
  font-family: "Hammersmith One", sans-serif;
  color: #00E0D0;
  padding: .5em;
  border: 1px solid #00E0D0;
  border-radius: 2px;
  display: inline-block;
}

/* line 54, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_config.scss */
.btn:hover {
  opacity: 0.8;
}

/* line 1, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_hero.scss */
.hero {
  background: linear-gradient(45deg, rgba(9, 5, 48, 0.85), rgba(49, 29, 94, 0.85)), url("../assets/images/hero.jpg") no-repeat center 0;
  background-size: cover;
  min-height: 41.875em;
  color: white;
}

/* line 7, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_hero.scss */
.logo {
  float: left;
  margin-top: 1rem;
  max-width: 8em;
}

/* line 12, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_hero.scss */
nav {
  margin-top: 2.1875em;
  margin-bottom: 11.5625em;
}

/* line 16, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_hero.scss */
nav ul {
  float: right;
}

/* line 19, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_hero.scss */
nav ul li {
  display: inline-block;
  margin-left: 1.5625em;
  font-weight: 900;
  text-transform: uppercase;
}

/* line 25, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_hero.scss */
a {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

/* line 29, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_hero.scss */
a:hover {
  opacity: 0.8;
}

/* line 33, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_hero.scss */
.current-page a {
  color: #00E0D0;
}

/* line 36, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_hero.scss */
.hero-content {
  clear: both;
  text-align: center;
  margin-bottom: 8rem;
}

/* line 41, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_hero.scss */
.hero-content h1 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  margin-bottom: 3.75rem;
}

/* line 46, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_hero.scss */
.hero-content p {
  margin-bottom: 2rem;
}

/* line 49, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_hero.scss */
.dot-nav {
  text-align: center;
}

/* line 52, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_hero.scss */
.solid, .empty {
  display: inline-block;
}

/* line 55, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_hero.scss */
.solid {
  background-color: #00E0D0;
  height: 1em;
  width: 1em;
  border-radius: 50%;
}

/* line 61, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_hero.scss */
.empty {
  border: 1px solid white;
  height: 1em;
  width: 1em;
  border-radius: 50%;
}

/* line 1, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_about.scss */
.about {
  background: #fff;
  min-height: 25em;
}

/* line 5, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_about.scss */
.about img {
  float: left;
  padding: 0 6.25em 4em 0;
  width: 20.9375em;
}

@media (max-width: 980px) {
  /* line 5, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_about.scss */
  .about img {
    float: none;
    display: block;
    margin: 0 auto;
    padding: 1em;
  }
}

/* line 16, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_about.scss */
.our-story-blurb {
  float: left;
  max-width: 39.0625em;
}

@media (max-width: 980px) {
  /* line 16, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_about.scss */
  .our-story-blurb {
    float: none;
    max-width: 100%;
  }
}

/* line 24, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_about.scss */
.our-story-blurb p {
  margin-bottom: 1rem;
}

@media (max-width: 980px) {
  /* line 27, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_about.scss */
  .our-story-blurb a {
    width: 6.875em;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 980px) {
  /* line 35, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_about.scss */
  .our-story-blurb h2 {
    text-align: center;
  }
}

/* line 40, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_about.scss */
.video-section {
  height: 34.375em;
  background: linear-gradient(45deg, rgba(9, 5, 48, 0.85), rgba(49, 29, 94, 0.85)), url("../assets/images/city.jpg") no-repeat center center;
  background-size: cover;
}

/* line 45, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_about.scss */
.video-section img {
  display: block;
  margin: 0 auto 1rem;
  max-width: 6.375em;
}

/* line 50, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_about.scss */
.video-section .wrapper {
  height: 100%;
  text-align: center;
}

/* line 53, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_about.scss */
.video-section .wrapper:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

/* line 60, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_about.scss */
.video-section-content {
  color: white;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  cursor: pointer;
}

/* line 66, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_about.scss */
.video-section-content:hover {
  opacity: 0.8;
}

/* line 71, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_about.scss */
.centered {
  display: inline-block;
  vertical-align: middle;
}

/* line 1, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_expertise.scss */
.expertise {
  min-height: 42.5em;
  background: #fff;
}

/* line 5, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_expertise.scss */
.expertise span, .team span {
  display: block;
  font-family: "Playfair Display", serif;
  color: #848386;
}

/* line 9, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_expertise.scss */
.expertise span:after, .team span:after {
  content: '';
  display: block;
  margin: 1rem auto 3rem;
  width: 4em;
  border-bottom: 2px solid #b7b7b8;
}

/* line 17, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_expertise.scss */
.expertise h2, .team h2, h2 + span {
  text-align: center;
}

/* line 20, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_expertise.scss */
.expertise li {
  float: left;
  width: 33.33%;
  text-align: center;
  padding: 2em 1em 2em;
  border-bottom: 2px solid #eaeaeb;
}

/* line 26, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_expertise.scss */
.expertise li:nth-child(-n+2) {
  border-right: 2px solid #eaeaeb;
}

/* line 29, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_expertise.scss */
.expertise li:nth-child(4), .expertise li:nth-child(5) {
  border-right: 2px solid #eaeaeb;
}

@media (max-width: 980px) {
  /* line 20, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_expertise.scss */
  .expertise li {
    width: 50%;
  }
  /* line 34, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_expertise.scss */
  .expertise li:nth-child(even) {
    border-right: none;
  }
  /* line 37, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_expertise.scss */
  .expertise li:nth-child(3) {
    border-right: 2px solid #eaeaeb;
  }
}

@media (max-width: 980px) and (max-width: 600px) {
  /* line 20, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_expertise.scss */
  .expertise li {
    width: 100%;
  }
  /* line 42, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_expertise.scss */
  .expertise li:nth-child(odd) {
    border-right: none;
  }
}

/* line 48, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_expertise.scss */
.expertise li p {
  color: #848386;
}

/* line 51, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_expertise.scss */
.expertise img {
  margin-bottom: 2rem;
  max-width: 3.125em;
}

/* line 1, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_team.scss */
.team {
  background: linear-gradient(45deg, rgba(9, 5, 48, 0.85), rgba(49, 29, 94, 0.85)), url("../assets/images/background.jpg") no-repeat center 0;
  background-size: cover;
  min-height: 43.75em;
}

/* line 6, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_team.scss */
.team h2 {
  color: white;
}

/* line 9, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_team.scss */
.team span {
  color: #fff;
}

/* line 11, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_team.scss */
.team span:after {
  border-bottom: 2px solid #fff;
}

/* line 15, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_team.scss */
.team ul {
  margin-bottom: 4rem;
}

/* line 18, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_team.scss */
.team li {
  float: left;
  width: 23.5%;
  height: 19.375em;
  margin-right: 2%;
}

/* line 23, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_team.scss */
.team li:last-child {
  margin-right: 0;
}

@media (max-width: 800px) {
  /* line 18, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_team.scss */
  .team li {
    width: 35%;
    margin: 0 7.5%;
  }
  /* line 29, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_team.scss */
  .team li:nth-child(-n + 2) {
    margin-bottom: 5%;
  }
}

@media (max-width: 600px) {
  /* line 18, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_team.scss */
  .team li {
    float: none;
    display: block;
    width: 50%;
    min-width: 240px;
    margin: 0 auto 5%;
  }
  /* line 39, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_team.scss */
  .team li:nth-child(even) {
    margin-right: auto;
  }
  /* line 42, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_team.scss */
  .team li:last-child {
    margin-bottom: 0;
  }
}

/* line 47, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_team.scss */
.team li img {
  height: 75%;
  display: block;
  background: #fff;
}

/* line 52, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_team.scss */
.team li div {
  height: 25%;
  border: 1px solid #848386;
  text-align: center;
  padding: 1em 1em 2em;
}

/* line 58, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_team.scss */
.team h3 {
  color: white;
  margin-bottom: .5rem;
}

/* line 62, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_team.scss */
.team li span {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

/* line 65, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_team.scss */
.team li span:after {
  border-bottom: none;
}

/* line 69, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_team.scss */
.hiring {
  text-align: center;
}

/* line 72, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_team.scss */
.hiring p {
  color: white;
  margin-bottom: 1rem;
}

/* line 1, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_works.scss */
.works {
  min-height: 41.5em;
}

/* line 4, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_works.scss */
.works h2 {
  display: inline-block;
  margin-bottom: 4.375rem;
}

@media (max-width: 560px) {
  /* line 4, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_works.scss */
  .works h2 {
    margin-bottom: 1rem;
    display: block;
    text-align: center;
  }
}

/* line 14, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_works.scss */
.works-heading span {
  float: right;
  cursor: pointer;
}

@media (max-width: 560px) {
  /* line 14, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_works.scss */
  .works-heading span {
    padding-top: 0;
    margin-bottom: 4.375rem;
    float: none;
    display: block;
    text-align: center;
  }
}

/* line 26, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_works.scss */
.tile-container {
  height: 25em;
  margin-bottom: 4.375rem;
}

/* line 30, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_works.scss */
.tile {
  width: 16.6666667%;
  height: 50%;
  float: left;
}

/* line 36, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_works.scss */
.tile-container div:first-child {
  background-color: #b6b6b6;
}

/* line 39, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_works.scss */
.tile-container div:nth-child(2) {
  background-color: #acacac;
}

/* line 42, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_works.scss */
.tile-container div:nth-child(3) {
  background-color: #a1a1a1;
}

/* line 45, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_works.scss */
.tile-container div:nth-child(4) {
  background-color: #8a8a8a;
}

/* line 48, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_works.scss */
.tile-container div:nth-child(5) {
  background-color: #b6b6b6;
}

/* line 51, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_works.scss */
.tile-container div:nth-child(6) {
  background-color: #a4a4a4;
}

/* line 54, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_works.scss */
.tile-container div:nth-child(7) {
  background-color: #a4a4a4;
}

/* line 57, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_works.scss */
.tile-container div:nth-child(8) {
  background-color: #b6b6b6;
}

/* line 60, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_works.scss */
.tile-container div:nth-child(9) {
  background-color: #8a8a8a;
}

/* line 63, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_works.scss */
.tile-container div:nth-child(10) {
  background-color: #a1a1a1;
}

/* line 66, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_works.scss */
.tile-container div:nth-child(11) {
  background-color: #acacac;
}

/* line 69, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_works.scss */
.tile-container div:last-child {
  background-color: #b6b6b6;
}

/* line 73, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_works.scss */
.works a {
  display: block;
  width: 6.5em;
  margin-left: auto;
  margin-right: auto;
}

/* line 1, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_testimonials.scss */
.testimonials {
  min-height: 31.25em;
  background: linear-gradient(45deg, rgba(9, 5, 48, 0.85), rgba(49, 29, 94, 0.85)), url("../assets/images/team.jpg") no-repeat center 0;
  background-size: cover;
}

/* line 6, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_testimonials.scss */
#quote-mark {
  font-size: 6rem;
  color: white;
  font-family: "Playfair Display", serif;
  display: block;
  text-align: center;
  margin-bottom: .5em;
  line-height: 1;
}

/* line 15, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_testimonials.scss */
blockquote {
  text-align: center;
}

/* line 18, C:/Users/Vianel/Desktop/Learning/Agency_Site/scss/_testimonials.scss */
.testimonials p {
  font-family: "Playfair Display", serif;
  color: white;
  margin-bottom: 3.125rem;
}

/*# sourceMappingURL=../css/style.map */