.about {
  background: #fff;
  min-height: 25em;
}
.about img {
  float: left;
  padding: 0 6.25em 4em 0;
  width: 20.9375em;
  @media (max-width: 980px) {
    float: none;
    display: block;
    margin: 0 auto;
    padding: 1em;
  }
}
.our-story-blurb {
  float: left;
  max-width: 39.0625em;
  @media (max-width: 980px) {
    float: none;
    max-width: 100%;
  }
}
.our-story-blurb p {
  margin-bottom: 1rem;
}
.our-story-blurb a {
  @media (max-width: 980px) {
    width: 6.875em;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
.our-story-blurb h2 {
  @media (max-width: 980px) {
    text-align: center;
  }
}
.video-section {
  height: 34.375em;
  background: linear-gradient(45deg, rgba(9, 5, 48, 0.85), rgba(49, 29, 94, 0.85)), url('../assets/images/city.jpg') no-repeat center center;
  background-size: cover;
}
.video-section img {
  display: block;
  margin: 0 auto 1rem;
  max-width: 6.375em;
}
.video-section .wrapper {
  height: 100%;
  text-align: center;
  &:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}
.video-section-content {
  color: white;
  text-transform: uppercase;
  font-family: $font-stack;
  font-weight: 900;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

.centered {
  display: inline-block;
  vertical-align: middle;
}
