// Base styles
body {
  font-family: $font-family--primary;
  font-size: rem(16px);
}
p {
  font-size: em(14px);
  line-height: ($base__line/$base__font-size);
  font-weight: $font-weight--thin;
}
h1 {
  font-size: em(32px);
}
h2, h3 {
  font-weight: $font-weight--heavy;
  text-transform: uppercase;
  margin-bottom: rem(16px);
}
h2 {
  font-size: rem(22px);
  font-family: $font-family--display;
}

h3 {
  font-family: $font-family--primary;
}
