// Colors
$robin-egg-blue: #00E0D0;
$jumbo: #848386;

// Fonts
$font-stack: 'Roboto', sans-serif;
$display-font: 'Playfair Display', serif;
$btn-font: 'Hammersmith One', sans-serif;

// General styles
body {
  font-family: $font-stack;
  font-size: 1rem;
}
p {
  font-size: .875rem;
  line-height: 1.5;
  font-weight: 300;
}
h1 {
  font-size: 1.999rem;
}
h2, h3 {
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
h2 {
  font-size: 1.414rem;
  font-family: $display-font;
  padding-top: 3rem;
}

h3 {
  font-family: $font-stack;
}
.wrapper {
  max-width: 60em;
  margin: auto;
  @media (max-width: 980px) {
    padding: 0 1em;
  }
}
.btn {
  font-family: $btn-font;
  color: $robin-egg-blue;
  padding: .5em;
  border: 1px solid $robin-egg-blue;
  border-radius: 2px;
  display: inline-block;
  &:hover {
    opacity: 0.8;
  }
}
