.expertise {
  min-height: 46.875em;
  background: #fff;
}
.expertise span {
  display: block;
  font-family: $display-font;
  color: $jumbo;
  &:after {
    content: '';
    display: block;
    margin: 1rem auto 2rem;
    width: 4em;
    border-bottom: 2px solid lighten($jumbo, 20%);
  }
}
.expertise h2, h2 + span {
  text-align: center;
}
.expertise li {
  float: left;
  width: 33.33%;
  text-align: center;
  padding: 2em 1em 2em;
  border-bottom: 2px solid lighten($jumbo, 40%);
  &:nth-child(-n+2) {
    border-right: 2px solid lighten($jumbo, 40%);
  }
  &:nth-child(4), &:nth-child(5) {
    border-right: 2px solid lighten($jumbo, 40%);
  }
  @media (max-width: 980px) {
    width: 50%;
    &:nth-child(even){
      border-right: none;
    }
    &:nth-child(3) {
      border-right: 2px solid lighten($jumbo, 40%);
    }
    @media (max-width: 600px) {
      width: 100%;
      &:nth-child(odd) {
        border-right: none;
      }
    }
  }
}
.expertise li p {
  color: $jumbo;
}
.expertise img {
  margin-bottom: 2rem;
}
