.l-right {
  float: right;
}
.l-left {
  float: left;
}
.l-a-left {
  text-align: left;
}
.l-a-right {
  text-align: right;
}
.l-a-center {
  text-align: center;
}
.section-padding {
  padding-top: em(70px);
  padding-bottom: em(70px);
}
.wrapper {
  max-width: em(960px);
  margin: auto;
  @media (max-width: 980px) {
    padding: 0 em(16px);
  }
}
.l-hero {
  background: linear-gradient(45deg, rgba(9, 5, 48, 0.85), rgba(49, 29, 94, 0.85)), url('#{$path--rel}/hero.jpg') no-repeat center 0;
  background-size: cover;
  min-height: em(670px);
  padding-bottom: em(70px);
}
.l-about {
  background: $white;
  min-height: em(400px);
}
.l-video {
  height: em(550px);
  background: linear-gradient(45deg, rgba(9, 5, 48, 0.85), rgba(49, 29, 94, 0.85)), url('#{$path--rel}/city.jpg') no-repeat center center;
  background-size: cover;
}
.l-expertise {
  min-height: em(680px);
  background: $white;
}
.l-team {
  background: linear-gradient(45deg, rgba(9, 5, 48, 0.85), rgba(49, 29, 94, 0.85)), url('#{$path--rel}/background.jpg') no-repeat center 0;
  background-size: cover;
  min-height: em(700px);
}
.l-works {
  min-height: em(664px);
  background: $white;
}
.l-tile-container {
  height: em(400px);
  margin-bottom: rem(70px);
}
.l-testimonials {
  min-height: em(500px);
  background: linear-gradient(45deg, rgba(9, 5, 48, 0.85), rgba(49, 29, 94, 0.85)), url('#{$path--rel}/team.jpg') no-repeat center 0;
  background-size: cover;
}
.l-contact {
  min-height: em(654px);
  background: $white;
}
