.main-logo {
  margin-top: rem(16px);
  max-width: em(128px);
}
.btn {
  font-family: $font-family--btn;
  color: $color-btn;
  padding: em(8px);
  border: 1px solid $color-btn;
  border-radius: 2px;
  display: inline-block;
}
.btn--contact {
  width: em(120px);
  @media (max-width: 825px) {
    display: block;
    margin: 0 auto;
  }
}
.nav {
  margin-top: em(35px);
  margin-bottom: em(185px);
  &__list {
      float: right;
      &--item {
        display: inline-block;
        margin-left: em(25px);
        font-weight: $font-weight--heavy;
        text-transform: uppercase;
        a {
          &:hover {
            opacity: 0.8;
          }
        }
      }
  }
}
.carousel-nav {
  text-align: center;
  &__solid, &__empty {
    display: inline-block;
  }
  &__solid {
    background-color: $robin-egg-blue;
    height: em(16px);
    width: em(16px);
    border-radius: 50%;
  }
  &__empty {
    border: 1px solid white;
    height: em(16px);
    width: em(16px);
    border-radius: 50%;
  }
}
.hero__intro {
  clear: both;
  margin-bottom: rem(128px);
}
.intro__heading {
  font-family: $font-family--display;
  font-weight: $font-weight--heavy;
  margin-bottom: rem(60px);
}
.intro__paragraph {
  margin-bottom: rem(32px);
}
.blurb__logo {
  padding: 0 em(100px) em(64px) 0;
  width: em(335px);
  max-width: 100%;
  @media (max-width: 980px) {
    float: none;
    display: block;
    margin: 0 auto;
    padding: em(16px);
  }
}
.blurb__story {
  max-width: em(577px);
  @media (max-width: 980px) {
    float: none;
    max-width: 100%;
  }
}
.story__title {
  @media (max-width: 980px) {
    text-align: center;
  }
}
.story__paragraph {
  margin-bottom: rem(16px);
}
.story_btn {
  @media (max-width: 980px) {
    width: em(110px);
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
.play-btn {
  display: block;
  margin: 0 auto rem(16px);
  max-width: em(102px);
}
.wrapper--video {
  &:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}
.l-video__content {
  color: $color-secondary--text;
  text-transform: uppercase;
  font-family: $font-family--primary;
  font-weight: $font-weight--heavy;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}
.tagline, {
  font-family: $font-family--primary;
  color: $jumbo;
  &:after {
    content: '';
    display: block;
    margin: rem(16px) auto rem(48px);
    width: 4em;
    border-bottom: 2px solid lighten($jumbo, 20%);
  }
}
.list__item {
  float: left;
  width: 33.33%;
  padding: em(32px) em(16px) em(32px);
  border-bottom: 2px solid lighten($jumbo, 40%);
  &:nth-child(-n+2) {
    border-right: 2px solid lighten($jumbo, 40%);
  }
  &:nth-child(4), &:nth-child(5) {
    border-right: 2px solid lighten($jumbo, 40%);
  }
  @media (max-width: 980px) {
    width: 50%;
    &:nth-child(even){
      border-right: none;
    }
    &:nth-child(3) {
      border-right: 2px solid lighten($jumbo, 40%);
    }
    @media (max-width: 600px) {
      width: 100%;
      &:nth-child(odd) {
        border-right: none;
      }
    }
  }
}
.item__paragraph {
  color: $jumbo;
}
.item__icon {
  margin-bottom: rem(16px);
  max-width: em(50px);
}
.list--team {
  margin-bottom: 4rem;
}
.list--team__item {
  float: left;
  width: 23.5%;
  height: 19.375em;
  margin-right: 2%;
  &:last-child {
    margin-right: 0;
  }
  @media (max-width: 800px) {
    width: 35%;
    margin: 0 7.5%;
    &:nth-child(-n + 2) {
      margin-bottom: 5%;
    }
  }
  @media (max-width: 600px) {
    float: none;
    display: block;
    width: 50%;
    min-width: 240px;
    margin: 0 auto 5%;
    &:nth-child(even) {
      margin-right: auto;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.item--team__img {
  height: 75%;
  display: block;
  background: $white;
}
.item--team__role {
  height: 25%;
  border: 1px solid $jumbo;
  text-align: center;
  padding: em(16px) em(16px) em(32px);
}
.role__name {
  margin-bottom: rem(8px);
}
.role__title {
  font-family: $font-family--primary;
  text-transform: uppercase;
  &:after {
    border-bottom: none;
  }
}
.hiring__text {
  margin-bottom: rem(16px);
}
.heading--works__title {
  display: inline-block;
  margin-bottom: rem(70px);
  @media (max-width: 560px) {
    margin-bottom: rem(16px);
    display: block;
    text-align: center;
  }
}
.heading--works__projects {
  float: right;
  cursor: pointer;
  @media (max-width: 560px) {
    padding-top: 0;
    margin-bottom: 4.375rem;
    float: none;
    display: block;
    text-align: center;
  }
}
.tile {
  width: 16.6666667%;
  height: 50%;
  float: left;
}
.tile:first-child {
  background-color: rgb(182,182,182);
}
.tile:nth-child(2) {
  background-color: rgb(172,172,172);
}
.tile:nth-child(3) {
  background-color: rgb(161,161,161);
}
.tile:nth-child(4) {
  background-color: rgb(138,138,138);
}
.tile:nth-child(5) {
  background-color: rgb(182,182,182);
}
.tile:nth-child(6) {
  background-color: rgb(164,164,164);
}
.tile:nth-child(7) {
  background-color: rgb(164,164,164);
}
.tile:nth-child(8) {
  background-color: rgb(182,182,182);
}
.tile:nth-child(9) {
  background-color: rgb(138,138,138);
}
.tile:nth-child(10) {
  background-color: rgb(161,161,161);
}
.tile:nth-child(11) {
  background-color: rgb(172,172,172);
}
.tile:last-child {
  background-color: rgb(182,182,182);
}
.l-works__btn {
  display: block;
  width: em(104px);
  margin-left: auto;
  margin-right: auto;
}
.quote-mark {
  font-size: rem(96px);
  font-family: $font-family--display;
  line-height: 1;
}
.quote-block__paragraph {
  font-family: $font-family--display;
  margin-bottom: rem(50px);
}
.testimonials__title {
  margin-bottom: rem(4px);
}
.testimonials__role {
  margin-bottom: rem(45px);
}
.testimonial-people__img {
  padding: 0 em(4px);
  max-width: 100%;
  &:nth-child(4) {
    vertical-align: em(-16px);
  }
}
.arr--left {
  margin-right: em(24px);
  vertical-align: em(12px);
  max-width: 100%;
}
.arr--right {
  margin-left: em(24px);
  vertical-align: em(12px);
  max-width: 100%;
}
.form-container {
  width: 100 / (960/460) * 1%;
  margin-right: 100 / (960/100) * 1%;
  float: left;
  @media (max-width: 825px) {
    float: none;
    width: 100%;
    margin-bottom: rem(36px);
  }
}
.contact__title {
  margin-bottom: rem(36px);
  @media (max-width: 500px){
    text-align: center;
  }
}
.form__input {
  border: 1px solid #eaeaeb;
  border-radius: 1px;
  padding: em(16px);
  font-family: $font-family--primary;
  display: block;
  margin-bottom: rem(23px);
  width: 100%;
}
.form__input--textarea {
  min-height: em(198px);
  resize: none;
}
.clients {
  width: 100 / (960/400) * 1%;
  float: left;
  @media (max-width: 825px) {
    float: none;
    width: 75%;
    margin: 0 auto;
  }
}
.list--clients {
  height: em(421px);
  @media (max-width: 500px) {
    height: em(350px);
  }
}
.list__item--clients {
  float: left;
  width: 50%;
  height: 20%;
  &:nth-child(even) {
    text-align: right;
  }
  @media (max-width: 500px) {
    float: none;
    display: block;
    margin: 0 auto 2%;
    &:nth-child(even) {
      text-align: center;
    }
  }
}

.logo--zara {
  vertical-align: -20px;
}
.logo--mango {
  vertical-align: -18px;
}
.logo--calvin {
  vertical-align: -15px;
}
.logo--puma {
  vertical-align: -40px;
}
.logo--levi {
  vertical-align: -70px;
}
.logo--gucci {
  vertical-align: -20px
}
.logo {
  max-width: 100%;
  @media (max-width: 500px){
    vertical-align: middle;
  }
}
.body--footer {
  display: inline-block;
  width: 35%;
  &:nth-child(n + 2) {
    vertical-align: top;
    padding-top: 24px;
  }
  &:nth-child(-n + 2) {
    margin-right: 2%;
  }
  &:nth-child(2) {
    width: 26%;
  }
  &:nth-child(3) {
    padding-left: em(46px);
  }
  @media (max-width: 980px) {
    display: block;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    &:nth-child(-n + 2) {
      margin: 0 auto;
    }
    &:nth-child(2) {
      width: 50%;
    }
    &:nth-child(3) {
      padding-left: 0;
    }
  }
}
.logo--footer {
  margin-bottom: rem(16px);
}
.icon {
  margin-right: 10px;
}
.body--footer__paragraph {
  margin-bottom: rem(16px);
  padding-left: em(32px);
  position: relative;
  &:before {
    content: "";
    background: url('#{$path--rel}/location.png') no-repeat center;
    height: em(22px);
    width: em(20px);
    position: absolute;
    left: 0;
  }
  @media (max-width: 980px) {
    padding-left: 0;
    &:before {
      left: -15px;
    }
  }
  @media (max-width: 785px) {
    &:before {
      left: -6%;
    }
    @media (max-width: 745px) {
      &:before {
        left: -3%;
      }
    }
  }
  @media (max-width: 670px) {
    padding-left: 0;
    &:before {
      left: -20px;
    }
  }
}
.body--footer__tel {
  padding-left: em(32px);
  position: relative;
  &:before {
    content:"";
    background: url('#{$path--rel}/phone.png') no-repeat center;
    height: em(22px);
    width: em(20px);
    position: absolute;
    bottom: 0;
    left: 0;
  }
  @media (max-width: 525px) {
    padding-left: 0;
    &:before {
      left: -30px;
    }
  }
}
.footer--title {
  margin-bottom: rem(26px);
}
.footer__input {
  border: 1px solid #eaeaeb;
  font-size: 16px;
  border-radius: 1px;
  background: none;
  padding: rem(12px);
  width: em(210px);
  color: white;
  font-family: $font-family--primary;
  outline: none;
  vertical-align: top;
  margin-right: 5px;
  margin-bottom: rem(26px);
  @media (max-width: 630px) {
    margin-bottom: rem(16px);
    width: 100%;
    font-size: 14px;
  }
  @media (max-width: 425px) {
    font-size: 12px;
  }
}
.btn--subscribe {
  cursor: pointer;
  @media (max-width: 630px) {
    margin-bottom: rem(16px);
  }
}
.list--footer {
  @media (max-width: 980px) {
    text-align: center;
  }
}
.item--footer {
  float: left;
  margin-right: em(8px);
  cursor: pointer;
  @media (max-width: 980px) {
    margin-right: 0;
    width: (100 / 6) * 1%;
    text-align: center;
  }
  @media (max-width: 565px) {
    width: (100 / 3) * 1%;
    margin-bottom: rem(8px);
  }
}
